<TopNav>
  <div class="collapse navbar-collapse" id="navbar-collapse">
    <ul class="nav navbar-nav">
      <li>
        {{!-- template-lint-disable link-href-attributes --}}
        <a><i class="icon-close"></i></a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li>
        {{!-- template-lint-disable link-href-attributes --}}
        <a title="Alert"><i class="icon-bell-solid"></i></a>
      </li>
      <li>
        {{!-- template-lint-disable link-href-attributes --}}
        <a title="Print"><i class="icon-printer"></i></a>
      </li>
      <li>
        {{!-- template-lint-disable link-href-attributes --}}
        <a title="Share"><i class="icon-options-solid"></i></a>
      </li>
    </ul>
  </div>
</TopNav>

<div class="row story-preview">
  <div class="col-md-2 col-md-push-10">
    <div class="add-feed">
      <div class="btn-round-lg center-block">
        <button class="btn btn-default btn-xs" type="button">
          <i class="icon-plus"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-md-offset-2 col-md-pull-2">
    <h1>{{@story.headline}}</h1>
    <p>
      By {{this.session.currentUser.fullName}}
      <span class="text-muted story-date">{{format-date this.currentTime customFormat='MMMM D [at] h:mm A'}}</span>
    </p>

    <StoryContent @story={{@story}} />

  </div>
</div>
