span.version-old {
  background-color: #FCE7E7;
  color: #6E6E6E;
  font-size: 13px;
}

span.version-new {
  background-color: #DDFFE0;
  color: #6E6E6E;
  font-size: 13px;
}

div.version-whodunnit {
  font-family: cabin;
  font-weight: 400;
  color: #BDBDBD;
  font-size: 14px;
}

div.version-changes {
  font-family: cabin;
  font-weight: 400;
  color: #BDBDBD;
  font-size: 16px;
}
