<div class="row">
  <div class="col-md-8 col-md-push-2">
    <h3><strong>IGM HELP &amp; SUPPORT</strong></h3>

    <br>

    <h4>
    <strong>Getting Started</strong>
    </h4>

    <p> Need help getting started?  Get an overview of the IGM website in just a
    few minutes by watching this video.
    <br>
    <br>
      <div class="flex-video widescreen" style="margin:0 auto;text-align:center;">
        <iframe allowfullscreen
          src="https://player.vimeo.com/video/148620414"
          frameborder="0" width="800" height="450">
        </iframe>
      </div>
    </p>

    <br>

    <h4>
    <strong>Key Features</strong>
    </h4>

    <h4>
      <LinkTo @route="my-igm">Dashboard</LinkTo>
    </h4>

    <p> Create your own page with the content that matters to you most.
    Commingle content into a single feed and pop out the headline viewer or add
    technicals, deal tables or saved search results. </p>

    <h4>
      <LinkTo @route="index">Discover</LinkTo>
      {{!-- discover --}}
    </h4>

    <p> Discover allows you to filter quickly by your area of specialism.
    Click on a block to access the product page or click ALL DESTINATIONS to
    access a filterable list. </p>

    <h4>
      <LinkTo @route="index">Search</LinkTo>
      {{!-- search --}}
    </h4>

    <p> Search for a story, deal, analyst or anything! Filter by content type
    (including deals or technicals). Save a search to easily rerun it in the
    future or set an alert against it. </p>

    <h4>
      Related Content
    </h4>

    <p> Keep relevant content in view and add to your dashboard at the push of a
    button. </p>

    <h4>
      <LinkTo @route="index">Alerts</LinkTo>
      {{!-- settings.alerts --}}
    </h4>

    <p> Click on the bell icon to set alerts on destinations, feeds, keywords or
    saved searches. Determine the time of delivery you want – live, time range
    or digest. </p>

    <h4>
      <LinkTo @route="index">Settings</LinkTo>
      {{!-- settings --}}
    </h4>

    <p> Manage alerts, feeds &amp; saved searches on this page as well as
    account settings. </p>

    <br>

    <h4>
    <strong>About Us</strong>
    </h4>

    <h4>
    Careers
    </h4>

    <p> Our offices in, London, Boston, New York, Hong Kong, Shanghai, Tokyo and
    Singapore, continuously seek high calibre candidates (both specialists and
    graduates) to help us maintain our position as a world-class supplier of
    real-time analysis to market professionals in the fields of foreign
    exchange, sovereign fixed income and corporate bonds. </p>

    <p> Our global teams provide round-the-clock coverage of these fast-moving
    markets, delivering content to virtually every major bank in the world. </p>

    <p> IGM is part of the Informa Connect Division of
    <a href="http://www.informa.com">Informa Plc</a>.</p>

    <p> Our team members: </p>
    <ul>
      <li>Develop personally and professionally. We practice what we preach
      including providing access to a myriad of courses offered by our own
      Informa Academy as well as access to the wealth of material we produce
      commercially.</li>
      <li>Are proud of what we produce. Informa is at the cutting edge of
      product development and loyal customers (our newspaper Lloyd's List has
      been selling since 1734), and new ones alike, come to us as we are the
      thought leaders in our fields.</li>
      <li>Have fun. We believe in being both highly profitable and obsessively
      disciplined whilst working in an informal and entertaining environment.</li>
    </ul>

    <p> If you're pursuing a career in Sales, Technical &amp; Fundamental
    Analytics, Credit, Economic Research or Foreign Exchange, and wish to work
    in a creative, fulfilling and fast paced environment, please do contact us
    with your aspirations and experience. </p>

    <p> Please email a detailed cv/resume with a full covering letter to:
    careers@informagm.com </p>

    <br>

    <h4>
    <strong>Integration/Access</strong>
    </h4>

    <p> IGM is available via the Bloomberg and Thomson Reuters desktops.  We
    also offer a REST API for integration into your proprietary applications
    and workflow. See our <a href="apidocs">API documentation</a>.
    </p>

    <br>

    <h4>
    <strong>Key Editorial Contacts</strong>
    </h4>

    <h4>
    Credit
    </h4>

    <p> Asia </p>
    <ul><li> Andrew Perrin (<a href="mailto:andrew.perrin@informagm.com">andrew.perrin@informagm.com</a>) </li></ul>

    <p> Shanghai </p>
    <ul><li> Tim Cheung (<a href="mailto:tim.cheung@informagm.com">tim.cheung@informagm.com</a>) </li></ul>

    <p> Europe </p>
    <ul><li> David Corbell (<a href="mailto:david.corbell@informagm.com">david.corbell@informagm.com</a>) </li></ul>

    <p> Americas </p>
    <ul><li> Ken Jaques (<a href="mailto:ken.jaques@informagm.com">ken.jaques@informagm.com</a>) </li></ul>

    <h4>
    Rates/FX
    </h4>

    <p> Asia </p>
    <ul><li> Jian Hui Tan (<a href="mailto:jianhui.tan@informagm.com">jianhui.tan@informagm.com</a>) </li></ul>

    <p> Europe </p>
    <ul><li> Marcus Dewsnap (<a href="mailto:marcus.dewsnap@informagm.com">marcus.dewsnap@informagm.com</a>) </li></ul>
    <ul><li> Tony Nyman (<a href="mailto:tony.nyman@informagm.com">tony.nyman@informagm.com</a>) </li></ul>

    <p> Americas </p>
    <ul><li> Marnie Owen (<a href="mailto:marnie.owen@informagm.com">marnie.owen@informagm.com</a>) </li></ul>

    <br>

    <h4>
    <strong>Office Locator</strong>
    </h4>

    <p> London<br>
    14th Floor<br>
    240 Blackfriars<br>
    London, SE1 8BF<br></p>

    <p> New York<br>
    605 Third Ave<br>
    New York, NY 10158<br></p>

    <p> Singapore<br>
    Visioncrest Commercial<br>
    103 Penang Road, #04-01<br>
    Singapore, 238467<br></p>

    <p> Tokyo<br>
    Otemachi Financial City, North Tower 21F 2108<br>
    1-9-5 Otemachi, Chiyoda-ku<br>
    Tokyo, 100-0004<br>
    Japan<br></p>

    <p> Hong Kong Special Administrative Region of China<br>
    Rm2705, 27/F China Resources Building<br>
    No.26 Harbour Road, Wanchai<br>
    Hong Kong Special Administrative Region of China<br></p>

    <p> Shanghai<br>
    Room 2201 &amp; 2204, Hong Kong New World Tower<br>
    No. 300 Huaihai Road Middle<br>
    Shanghai PRC 200021<br>
    China<br></p>

    <br>

    <h4>
    <strong>NEED HELP? HAVE A FEATURE REQUEST OR SUGGESTION? CONTACT US</strong>
    </h4>

    <p> Email our Client Services team at <a href="mailto:sales@informagm.com">sales@informagm.com</a></p>

    <p> To help us answer as fast as possible, please provide:<br>
    Name<br>
    Email address<br>
    Country<br>
    Telephone Number<br>
    Company<br>
    Message<br>
    Please provide the text of any error messages (and a screenshot's worth
    several thousand words!)<br>
    We do our best to reply to urgent inquiries within the hour.<br></p>

  </div>
</div>
