<div class="top-nav">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style={{this.topStyle}}>
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      {{yield}}
    </div>
  </nav>
</div>