.position-field {
  .form-control {
    height: 30px;
    line-height: 1;
    margin: -20px 15px 0 0;
    padding: 5px;
    text-align: center;
    width: 50px;
  }
}

.dashboard-item-settings-container {
  .panel {
    border-bottom: none;
    margin-bottom: 0;
  }
}
