<h3>About</h3>

<p>Informa Global Markets (IGM) was formed by the merger of two competing financial analysis companies - MCM and MMS -
in September 2003. Both companies were founded in the 1970s and were market leaders in their own right.</p>

<p>In late 2007, our sister company, International Insider Publishing Company (IIPC) Ltd, was integrated into the IGM
fold.</p>

<p>Combining the best of IGM and IIPC products has enabled IGM to create one of the foremost authorities for real-time
market commentary and analysis covering the capital markets.</p>

<p>Our services are subscribed to by financial institutions spanning more than 60 countries, with customers ranging
from investment banks and brokerages to Central Banks, corporate treasurers and high net worth individuals.</p>

<p>Market coverage is maintained around the clock from offices in London, New York, Singapore, Tokyo, Hong Kong and Shanghai.  Analysis is available via the web, Bloomberg, Eikon, FactSet and various data feed options.</p>

<p>Our products span corporate bonds, structured finance, emerging markets, foreign exchange and sovereign fixed income.</p>

<p>IGM is part of the Informa Connect Division of Informa PLC.</p>
