<TopNav>
  <div class="search-bar">
    <div class="search-bar-input-ds">

      {{! template-lint-disable no-autofocus-attribute }}
      <Input
        @type="text"
        id="league-search"
        placeholder="Add Search Title"
        {{!-- @value={{this.title}} --}}
        autofocus="true"
      />
    </div>

  </div>

</TopNav>

<div class="league-table-filter" id="league-table-fields">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <IgmPowerSelect
            @selection={{this.dealIdentifier}}
            @options={{this.dealOptions.dealIdentifier}}
            @label="Select Database"
            @onChange={{fn (mut this.dealIdentifier)}}
          />
        </div>
      </div>
    </div>
  </div>
</div>