<div class="row">
  <div class="col-md-12">
    <div class="commentaries">
      {{#each @commentaries as |commentary|}}
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>{{{commentary.headline}}}</h3>
            {{{commentary.body}}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
