<h2>Create a new issuer</h2>

<IssuerForm
  @issuer={{this.model.issuer}}
  @allIssuers={{this.model.issuers}}
  @allCountries={{this.model.allCountries}}
  @allIndustries={{this.model.allIndustries}}
/>